body{
	padding: 0;
	margin: 0;
}
#object{
	width: 150px;
	height: 150px;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 150px;
	font-family: arial;
	font-size: 20px;
   margin: 15% 0 0 40%;
   animation: sampleAnimation 2s infinite alternate;
}
#world{
	background-color: lightblue;
}
@keyframes sampleAnimation{
    from{border-radius: 0;}
    to{border-radius: 50%;
      background-color: red;
      font-size: 25px;
      box-shadow: 8px 8px 8px black;
      text-shadow: 8px 8px 7px black;}
}